<%= Time.zone %>
<% if notice.class == "".class %>
    <div id="accept">
        <h1>ZAKŁAD ZOSTAŁ PRZYJĘTY!</h1>
    </div>
<% elsif notice.class == [].class %>
    <div id="fail">
        <h1>ZAKŁAD NIE ZOSTAŁ PRZYJĘTY!</h1>
        <ul>
        <% notice.each do |x| %>
            <li><%= x %></li>
        <% end %>
        </ul>
    </div>
<% end %>
<% =begin %>
<div id="ostatnie">
    <h1>
        Ostatnie zakłady
    </h1>
    <center>
    <table>
        <thead>
            <td>Nick</td>
            <td>Zakład</td>
            <td>Repka</td>
        </thead>
        <tbody>
            <% @zaklady = Obstawienie.all.sort_by{|x| x.created_at}[-6..-1] %>
            <% @zaklady.each do |ostatni| %>
            <tr>
                <td><%= User.find(ostatni.user_id).name %></td>
                <% if ostatni.opcja == 1 %>
                    <td><%= Zaklad.find(ostatni.zaklad_id).gospodarz %></td>
                <% elsif ostatni.opcja == 2 %>
                    <td>Remis</td>
                <% else %>
                    <td><%= Zaklad.find(ostatni.zaklad_id).gosc %></td>
                <% end %>
                <td> <%= ostatni.reputacja %> </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    </center>
</div>
<% =end %>
<table border=1>
    <thead>
        <td width="60%">Zakłady</td>
        <td width="40%">Wyniki</td>
    </thead>
    <tbody>
        <td>
            <% Event.active.each do |event| %>
                <% @i = 0 %>
                <% if event.zaklads.any? {|zaklad| zaklad.data > DateTime.now} %>
                    <h2><%= event.name %></h2>
                    <table>
                        <thead>
                            <tr>
                                <td>Data</td>
                                <td>Gospodarz</td>
                                <td>Gosc</td>
                                <td>1</td>
                                <td>X</td>
                                <td>2</td>
                                <td>Reputacja</td>
                                <td>Nick</td>
                                <td>Kod</td>
                                <td>Potwierdź</td>
                            </tr>
                        </thead>
                        <% event.zaklads.sort_by{|e| e.data}.each do |zaklad| %>
                            <% if zaklad.data < DateTime.now %>
                                <% kolor = "czerwony" %>
                            <% else %>
                                <% kolor = "zielony" %>
                                <% @i += 1 %>
                            <% end %>
                            <tbody>
                                <tr class=<%=kolor%>>
                                    <td><%=zaklad.data.strftime("%F %T")%></td>
                                    <td><%=zaklad.gospodarz%></td>
                                    <td><%=zaklad.gosc%></td>
                                        <%= form_tag(:controller => "obstawienies", :action => "create", :method => "post") do |f| %>
                                            <td><%= radio_button_tag "Reputacja", 1 %><%=zaklad.k1%></td>
                                            <% if zaklad.k2 == 0 %>
                                                <td class=off><%= radio_button_tag "Reputacja", 2, false, disabled: true %>-----</td>
                                            <% else %>
                                                <td><%= radio_button_tag "Reputacja", 2 %><%=zaklad.k2%></td>
                                            <% end %>
                                            <td><%= radio_button_tag "Reputacja", 3 %><%=zaklad.k3%></td>
                                            <td><%= text_field_tag "Ilosc", '', size: 5 %></td>
                                            <td><%= text_field_tag "Nick",'', size: 10 %><%= hidden_field_tag "Zaklad", zaklad.id %></td>
                                            <td><%= text_field_tag "Kod", '', size: 10 %></td>
                                            <% if kolor == "zielony" %>
                                                <td><%= submit_tag "Ok!" %></td>
                                            <% else %>
                                                <td><%= submit_tag "X", disabled: true %>
                                            <% end %>
                                        <% end %>
                                </tr>
                            </tbody>
                        <% end %>
                        <tfoot>
                            <tr>
                                <td colspan=3>Do kolejnego zakładu pozostało: <%=distance_of_time_in_words_to_now(event.zaklads.select { |x| x.data > DateTime.now }.sort_by{|x| x.data}.first.data)%> </td>
                            </tr>
                        </tfoot>
                    </table>
                <% else %>
                    <% event.status = 1 %>
                    <% event.save %>
                <% end %>
            <% end %>
        </td>
        <td valign="top">
            <% Event.unactive.each do |event| %>
                <h2> <%= event.name %> </h2>
                <table width="100%">
                    <thead>
                        <td width="50%">Gospodarz</td>
                        <td width="50%">Gosc</td>
                    </thead>
                    <tbody>
                        <% event.zaklads.each do |zaklad| %>
                        <tr>
                            <% if zaklad.wynik == 1 %>
                                <td class="wygrany"><%= zaklad.gospodarz %></td>
                                <td class="przegrany"><%= zaklad.gosc %> </td>
                            <% elsif zaklad.wynik == 2 %>
                                <td class="remis"%><%= zaklad.gospodarz %></td>
                                <td class="remis"%><%= zaklad.gosc %></td>
                            <% else %>
                                <td class="przegrany"%><%= zaklad.gospodarz %></td>
                                <td class="wygrany"%><%= zaklad.gosc %></td>
                            <% end %>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
                <table border=1; rules='all', width="100%">
                    <thead>
                        <td width="33%">Nick</td>
                        <td width="33%">Zakład</td>
                        <td width="33%">Zdobycz/Strata</td>
                    </thead>
                    <tbody>
                        <% event.zaklads.each do |zaklad| %>
                            <% zaklad.obstawienies.each do |obstawienie| %>
                            <tr>
                                <td><%= User.find(obstawienie.user_id).name %></td>
                                <td>później</td>
                                <td><%= obstawienie.wygrana %></td>
                            </tr>
                            <% end %>
                        <% end %>
                    </tbody>
                </table>
            <% end %>
        </td>
    </tbody>
</table>