<p id="notice"><%= notice %></p>

<p>
  <b>Data:</b>
  <%= @zaklad.data %>
</p>

<p>
  <b>Gospodarz:</b>
  <%= @zaklad.gospodarz %>
</p>

<p>
  <b>Gosc:</b>
  <%= @zaklad.gosc %>
</p>

<p>
  <b>K1:</b>
  <%= @zaklad.k1 %>
</p>

<p>
  <b>K2:</b>
  <%= @zaklad.k2 %>
</p>

<p>
  <b>K3:</b>
  <%= @zaklad.k3 %>
</p>


<%= link_to 'Edit', edit_zaklad_path(@zaklad) %> |
<%= link_to 'Back', zaklads_path %>
